body {
    margin: 0 0;
}

.bg-dark {
    background-color: #1F2937;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    padding-right: 6rem;
    font-family: 'Roboto-Black', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-bottom: 1rem;
}

.header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
    font-family: 'Roboto-Black', Verdana, Geneva, Tahoma, sans-serif;
}

.hero-secondary-text-p {
    font-family: "Roboto-Thin", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #E5E7EB;
    padding-top: .5rem;
    padding-right: 5rem;
    margin: 0;
    font-weight: bold;
}

.hero-secondary-text-item-grid-2 {
    font-family: "Roboto-Light", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-top: .5rem;
}

.hero-secondary-text {
    font-family: "Roboto-Thin", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: bold;
}

.hero-secondary-text a:nth-child(2) {
    padding: 0 .75rem;
}

.button-header {
    background-color: #3882F6;
}

.header-inf-text {
    font-family: "Roboto-Bold", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    color: #1F2937;
    padding: 1.5rem 0;
}

.quote-bg-color {
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.header-top {
    display: flex;
    padding: 0rem 26rem;
    justify-content: space-between;
    height: 4rem;
    align-items: center;
}

.header-links {
    align-self: center;
}

.header-mid {
    display: flex;
    padding: 5rem 26rem;
    justify-content: space-between;

}

.header-mid-left {
    width: 50%;
    padding-right: 0rem;
}

.header-mid-right {
    width: 50%;
    text-align: end;
}

.header-mid-right img {
    width: 100%;
    height: 80%;
}

.btn-signup {
    background-color: #3882F6;
    border: none;
    border-radius: 0.5rem;
    padding: 0.4rem 2rem;
    margin-top: 1rem;
    color: #E5E7EB;
    font-family: "Roboto-Bold", Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

.body-cntnt-1 {
    display: flex;
    flex-direction: row;
    padding: 0rem 5rem;
    justify-content: center;
}

.body-cntnt-top {
    display: flex;
    flex-direction: column;
    padding: 0 26rem;
    justify-content: space-between;
    margin-top: 1rem;
}

.body-cntnt-2 {
    display: flex;
    flex-direction: row;
    padding: 0 0;
    justify-content: center;
    padding-bottom: 3.5rem;
}

.body-cntnt-top {
    margin: 0 0;
    padding: 3rem 33rem;
}

.body-cntnt-mid p {
    padding: 0;
    margin: 0;
}

.body-cntnt-mid .sign {
    font-family: "Roboto-Bold";
    font-size: 20px;
    text-align: end;
}

.body-cntnt-mid {
    margin: 0 0;
    padding: 7rem 33rem;
}

.body-cntnt-3 {
    font-family: "Roboto-LightItalic", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    color: #1F2937;
}

.body-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 1rem 0;
    column-gap: 0rem;
    row-gap: 1rem;
}

.body-item-grid {
    text-align: center;
    place-self: center;
}

.body-item-grid img {
    width: 9.5rem;
    height: 9.5rem;
    border-radius: 0.8rem;
    border: 0.3rem solid #3882F6;
    box-sizing: border-box;
}

.body-item-grid-2 {
    text-align: center;
    padding: 0rem 1.6rem;
}

.body-item-grid-2 p {
    padding: 0;
    margin: 0;
}

.body-cntnt-bottom {
    margin: 0 0;
    padding: 5.5rem 26rem;
    border-radius: 1rem;
}

.call-to-action {
    display: flex;
    background-color: #3882F6;
    border-radius: .5rem;
    justify-content: space-evenly;
    padding: 3rem 0;

}

.call-to-action-left span {
    font-family: "Roboto-Bold";
    font-size: 20px;
    color: #E5E7EB;
}

.call-to-action-left p {
    font-family: "Roboto-Thin", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: bold;
    padding-top: 0;
    padding-right: 5rem;
    margin: 0;
}

.call-to-action-right {
    align-self: center;
}

.btn-signup-body-bottom {
    background-color: transparent;
    color: #E5E7EB;
    border: 2px solid #F9FAF8;
    border-radius: 0.5rem;
    padding: 0.4rem 2rem;
    color: #E5E7EB;
    font-family: "Roboto-Bold", Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

.footer {
    font-family: "Roboto-Thin", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #E5E7EB;
    text-align: center;
    padding: 2rem 0;
}

/* --- HOMEPAGE STYLE --- */

.header-homepage {
    background-color: #10111D;
    display: flex;
    justify-content: center;
}

.img-yo {
    width: 10%;
    height: 10%;
    align-self: center;
    padding: 2rem;
    border-radius: 50%;
}

.body-homepage {
    display: flex;
    flex-direction: column;
    background-color: #10111D;

}

.resumen-bio {
    color: #F9FAF8;
    background-color: #00966B;
    width: 40%;
    align-self: center;
    padding: 3rem;
    border-radius: 1rem;
    margin: 3rem;
    position: absolute;
    top: 30%;
}

.resumen-bio p {
    font-family: "Lato-Regular", Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;

}
.social-container{
    align-self: center;
    justify-content: center;
    width: 50%;
}
.social-container h2{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.grilla{
    display: grid;
    grid-template-columns: min-content min-content;
    gap: 2rem 2rem;
    justify-content: center;
    margin-bottom: 5rem;
}
.grilla img{
    padding: 2rem;
}
.grilla-item{
    border-radius: 1rem;
    background-color: #f5f4f2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.assig-container{
    width: 50%;
    place-self: center;

}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 23px;
    text-align-last: center;
    color: white;
    align-self: center;

}

.grid-container {
    width: 100rem;
    height: 20rem;
    display: flex;
    align-self: center;
    padding: 5rem;
    padding-top: 10rem;
    background-color: #f1e3d0;
    margin-top: 23rem;
    margin-bottom: 5rem;
    border-radius: 1rem;
    place-content: center;

}

.grid-container a {
    font-size: xx-large;
    text-decoration: none;
    color: #fffffe;
}

.grilla-item:hover {

    box-shadow: rgba(78, 78, 78, 0.1) 0px 10px 50px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border: none !important;
    font-weight: bold;
}

.grid-item:hover{
    box-shadow: rgba(78, 78, 78, 0.1) 0px 10px 50px; 
}